In [58]:
from pyspark.sql import SparkSession
from pyspark.ml.feature import VectorAssembler, StringIndexer
from pyspark.ml.classification import DecisionTreeClassifier, RandomForestClassifier, GBTClassifier, FMClassifier, RandomForestClassificationModel
from pyspark.ml.evaluation import BinaryClassificationEvaluator, MulticlassClassificationEvaluator
from pyspark.sql.functions import count_distinct
from pyspark.ml.tuning import CrossValidator, ParamGridBuilder

In [2]:
spark = SparkSession.builder.appName("tree").getOrCreate()
spark

In [3]:
df = spark.read.csv('College.csv',inferSchema=True,header=True)
df.printSchema()

root
 |-- School: string (nullable = true)
 |-- Private: string (nullable = true)
 |-- Apps: integer (nullable = true)
 |-- Accept: integer (nullable = true)
 |-- Enroll: integer (nullable = true)
 |-- Top10perc: integer (nullable = true)
 |-- Top25perc: integer (nullable = true)
 |-- F_Undergrad: integer (nullable = true)
 |-- P_Undergrad: integer (nullable = true)
 |-- Outstate: integer (nullable = true)
 |-- Room_Board: integer (nullable = true)
 |-- Books: integer (nullable = true)
 |-- Personal: integer (nullable = true)
 |-- PhD: integer (nullable = true)
 |-- Terminal: integer (nullable = true)
 |-- S_F_Ratio: double (nullable = true)
 |-- perc_alumni: integer (nullable = true)
 |-- Expend: integer (nullable = true)
 |-- Grad_Rate: integer (nullable = true)

In [4]:
df.count()

777

In [5]:
df.head()

Row(School='Abilene Christian University', Private='Yes', Apps=1660, Accept=1232, Enroll=721, Top10perc=23, Top25perc=52, F_Undergrad=2885, P_Undergrad=537, Outstate=7440, Room_Board=3300, Books=450, Personal=2200, PhD=70, Terminal=78, S_F_Ratio=18.1, perc_alumni=12, Expend=7041, Grad_Rate=60)

In [6]:
df.describe().show()

+-------+--------------------+-------+------------------+------------------+----------------+------------------+------------------+-----------------+-----------------+------------------+------------------+------------------+------------------+------------------+------------------+------------------+------------------+----------------+------------------+
|summary|              School|Private|              Apps|            Accept|          Enroll|         Top10perc|         Top25perc|      F_Undergrad|      P_Undergrad|          Outstate|        Room_Board|             Books|          Personal|               PhD|          Terminal|         S_F_Ratio|       perc_alumni|          Expend|         Grad_Rate|
+-------+--------------------+-------+------------------+------------------+----------------+------------------+------------------+-----------------+-----------------+------------------+------------------+------------------+------------------+------------------+------------------+------------------+------------------+----------------+------------------+
|  count|                 777|    777|               777|               777|             777|               777|               777|              777|              777|               777|               777|               777|               777|               777|               777|               777|               777|             777|               777|
|   mean|                NULL|   NULL|3001.6383526383524|2018.8043758043757|779.972972972973| 27.55855855855856|  55.7966537966538|3699.907335907336|855.2985842985843| 10440.66924066924| 4357.526383526383| 549.3809523809524|1340.6422136422136| 72.66023166023166| 79.70270270270271|14.089703989703986|22.743886743886744|9660.17117117117| 65.46332046332046|
| stddev|                NULL|   NULL|3870.2014844352884|  2451.11397099263| 929.17619013287|17.640364385452134|19.804777595131373|4850.420530887386|1522.431887295513|4023.0164841119727|1096.6964155935289|165.10536013709253|  677.071453590578|16.328154687939314|14.722358527903374|3.9583491352055478| 12.39180148937615|5221.76843985609|17.177709897155403|
|    min|Abilene Christian...|     No|                81|                72|              35|                 1|                 9|              139|                1|              2340|              1780|                96|               250|                 8|                24|               2.5|                 0|            3186|                10|
|    max|York College of P...|    Yes|             48094|             26330|            6392|                96|               100|            31643|            21836|             21700|              8124|              2340|              6800|               103|               100|              39.8|                64|           56233|               118|
+-------+--------------------+-------+------------------+------------------+----------------+------------------+------------------+-----------------+-----------------+------------------+------------------+------------------+------------------+------------------+------------------+------------------+------------------+----------------+------------------+

In [7]:
df.select(count_distinct('School')).show()

+----------------------+
|count(DISTINCT School)|
+----------------------+
|                   777|
+----------------------+

In [8]:
df.select('School').distinct().collect()

[Row(School='Colorado College'),
 Row(School='Fresno Pacific College'),
 Row(School='Mount Marty College'),
 Row(School='University of Oklahoma'),
 Row(School='Widener University'),
 Row(School='Bethune Cookman College'),
 Row(School='Marquette University'),
 Row(School='New York University'),
 Row(School='Norwich University'),
 Row(School='SUNY College  at Oswego'),
 Row(School='University of Nebraska at Lincoln'),
 Row(School='Lindenwood College'),
 Row(School='Auburn University-Main Campus'),
 Row(School='Butler University'),
 Row(School='Carroll College'),
 Row(School='Smith College'),
 Row(School='University of California at Berkeley'),
 Row(School='Adelphi University'),
 Row(School='Blackburn College'),
 Row(School='Fordham University'),
 Row(School='Taylor University'),
 Row(School='Texas Southern University'),
 Row(School='University of Maine at Presque Isle'),
 Row(School='Stetson University'),
 Row(School='Tennessee Wesleyan College'),
 Row(School='Virginia Wesleyan College'),
 Row(School='Worcester State College'),
 Row(School='Beloit College'),
 Row(School='Concordia University'),
 Row(School='Gettysburg College'),
 Row(School='Marshall University'),
 Row(School='Monmouth College'),
 Row(School='SUNY at Binghamton'),
 Row(School='Bemidji State University'),
 Row(School='Bradley University'),
 Row(School='Dana College'),
 Row(School='Knox College'),
 Row(School='University of Mississippi'),
 Row(School='University of Scranton'),
 Row(School='Lamar University'),
 Row(School='Montreat-Anderson College'),
 Row(School='North Central College'),
 Row(School='South Dakota State University'),
 Row(School='St. Lawrence University'),
 Row(School="St. Mary's College of California"),
 Row(School='University of Portland'),
 Row(School='Southwestern University'),
 Row(School='West Virginia Wesleyan College'),
 Row(School='Dickinson State University'),
 Row(School='Gonzaga University'),
 Row(School='Pacific Lutheran University'),
 Row(School='Saint Joseph College'),
 Row(School='Albion College'),
 Row(School='Briar Cliff College'),
 Row(School='College of Saint Elizabeth'),
 Row(School='Murray State University'),
 Row(School='Northwest Nazarene College'),
 Row(School='University of Puget Sound'),
 Row(School='MidAmerica Nazarene College'),
 Row(School='Emory University'),
 Row(School='Oakland University'),
 Row(School='Point Park College'),
 Row(School='University of Charleston'),
 Row(School='University of Wisconsin-Stout'),
 Row(School='Westminster College'),
 Row(School='Yale University'),
 Row(School='Millikin University'),
 Row(School='Central Missouri State University'),
 Row(School='Lincoln University'),
 Row(School='Georgian Court College'),
 Row(School='James Madison University'),
 Row(School='Loyola University Chicago'),
 Row(School='Arkansas College (Lyon College)'),
 Row(School='Georgetown College'),
 Row(School='Northeastern University'),
 Row(School='Philadelphia Coll. of Textiles and Sci.'),
 Row(School='Wilson College'),
 Row(School='Cazenovia College'),
 Row(School='Earlham College'),
 Row(School='Trinity College DC'),
 Row(School='Baylor University'),
 Row(School='DePauw University'),
 Row(School='Carnegie Mellon University'),
 Row(School='College of Charleston'),
 Row(School='Tabor College'),
 Row(School='University of Wisconsin at Milwaukee'),
 Row(School='Barnard College'),
 Row(School='Hiram College'),
 Row(School='Rhodes College'),
 Row(School='Shippensburg University of Penn.'),
 Row(School='SUNY at Buffalo'),
 Row(School='University of the Arts'),
 Row(School='Embry Riddle Aeronautical University'),
 Row(School='Evergreen State College'),
 Row(School='John Carroll University'),
 Row(School='Louisiana Tech University'),
 Row(School='Southern California College'),
 Row(School='Westminster College PA'),
 Row(School='Arkansas Tech University'),
 Row(School='College of Saint Catherine'),
 Row(School='Bethany College'),
 Row(School='Mississippi College'),
 Row(School='University of Cincinnati'),
 Row(School='University of Pittsburgh-Main Campus'),
 Row(School='Adrian College'),
 Row(School='Averett College'),
 Row(School='Bowdoin College'),
 Row(School='Denison University'),
 Row(School='La Roche College'),
 Row(School='Mesa State College'),
 Row(School='Niagara University'),
 Row(School='Providence College'),
 Row(School='Valparaiso University'),
 Row(School='Duke University'),
 Row(School='Franklin College'),
 Row(School='Andrews University'),
 Row(School='Hampden - Sydney College'),
 Row(School='Le Moyne College'),
 Row(School='Pikeville College'),
 Row(School='University of Denver'),
 Row(School='Columbia University'),
 Row(School='Rider University'),
 Row(School='Savannah Coll. of Art and Design'),
 Row(School="St. Paul's College"),
 Row(School='Millersville University of Penn.'),
 Row(School='University of Michigan at Ann Arbor'),
 Row(School='University of St. Thomas TX'),
 Row(School='Drury College'),
 Row(School='Winona State University'),
 Row(School='Stonehill College'),
 Row(School='Western Washington University'),
 Row(School='Brewton-Parker College'),
 Row(School='Christian Brothers University'),
 Row(School='Emporia State University'),
 Row(School='Hampton University'),
 Row(School='Lycoming College'),
 Row(School='Marist College'),
 Row(School='Northwestern College'),
 Row(School='Peru State College'),
 Row(School='Sarah Lawrence College'),
 Row(School='University of Massachusetts at Amherst'),
 Row(School='University of North Carolina at Greensboro'),
 Row(School='University of Southern California'),
 Row(School='Allentown Coll. of St. Francis de Sales'),
 Row(School='Flagler College'),
 Row(School='Goshen College'),
 Row(School='Livingstone College'),
 Row(School='Marietta College'),
 Row(School='San Diego State University'),
 Row(School='Albertus Magnus College'),
 Row(School='Florida International University'),
 Row(School='Marymount College Tarrytown'),
 Row(School='Trenton State College'),
 Row(School='Green Mountain College'),
 Row(School='Grove City College'),
 Row(School='Univ. of Wisconsin at OshKosh'),
 Row(School='Abilene Christian University'),
 Row(School='Northern Arizona University'),
 Row(School='Rosary College'),
 Row(School='Salisbury State University'),
 Row(School='Illinois Institute of Technology'),
 Row(School='Baker University'),
 Row(School='East Tennessee State University'),
 Row(School='Loras College'),
 Row(School='Spalding University'),
 Row(School='McPherson College'),
 Row(School='Prairie View A. and M. University'),
 Row(School='Augustana College IL'),
 Row(School='Central Washington University'),
 Row(School='Eastern Connecticut State University'),
 Row(School='Freed-Hardeman University'),
 Row(School='Ripon College'),
 Row(School='Appalachian State University'),
 Row(School='Claremont McKenna College'),
 Row(School='Indiana State University'),
 Row(School='Queens College'),
 Row(School='University of Evansville'),
 Row(School='Ursinus College'),
 Row(School='Wesley College'),
 Row(School='Catholic University of America'),
 Row(School='Drew University'),
 Row(School='Washington and Jefferson College'),
 Row(School='Belmont University'),
 Row(School='Hamline University'),
 Row(School='Maryville College'),
 Row(School='University of Washington'),
 Row(School='Dowling College'),
 Row(School='Gwynedd Mercy College'),
 Row(School="Saint Mary's College of Minnesota"),
 Row(School='University of Connecticut at Storrs'),
 Row(School='University of Tulsa'),
 Row(School='Schreiner College'),
 Row(School='Southern Methodist University'),
 Row(School='St. Bonaventure University'),
 Row(School='University of Delaware'),
 Row(School='Longwood College'),
 Row(School='Western Michigan University'),
 Row(School='Central Wesleyan College'),
 Row(School='Mount Saint Clare College'),
 Row(School='SUNY College  at Brockport'),
 Row(School='SUNY College at Geneseo'),
 Row(School='University of Minnesota Twin Cities'),
 Row(School='University of Southern Indiana'),
 Row(School='Vassar College'),
 Row(School='William Jewell College'),
 Row(School='Indiana Wesleyan University'),
 Row(School='Occidental College'),
 Row(School='Simpson College'),
 Row(School='Hastings College'),
 Row(School='Ohio Northern University'),
 Row(School='Samford University'),
 Row(School='Dordt College'),
 Row(School='Lenoir-Rhyne College'),
 Row(School='Princeton University'),
 Row(School='University of Dallas'),
 Row(School='Anderson University'),
 Row(School='Dillard University'),
 Row(School='Lafayette College'),
 Row(School='Montclair State University'),
 Row(School='University of Vermont'),
 Row(School='Wittenberg University'),
 Row(School='Carthage College'),
 Row(School='College of William and Mary'),
 Row(School='Gordon College'),
 Row(School='Indiana University at Bloomington'),
 Row(School='Sioux Falls College'),
 Row(School='Amherst College'),
 Row(School='Dominican College of Blauvelt'),
 Row(School='Graceland College'),
 Row(School='Lyndon State College'),
 Row(School='Pacific University'),
 Row(School="St. Mary's College of Maryland"),
 Row(School='Tusculum College'),
 Row(School='Boston University'),
 Row(School='Seton Hill College'),
 Row(School='Stockton College of New Jersey'),
 Row(School='Austin College'),
 Row(School='Elms College'),
 Row(School='Washington University'),
 Row(School='Wheeling Jesuit College'),
 Row(School='Randolph-Macon College'),
 Row(School='Chatham College'),
 Row(School='Mount Union College'),
 Row(School='Fairfield University'),
 Row(School='Florida Southern College'),
 Row(School='Roanoke College'),
 Row(School='Wabash College'),
 Row(School='Birmingham-Southern College'),
 Row(School='Clarke College'),
 Row(School='College of the Holy Cross'),
 Row(School='Grand Valley State University'),
 Row(School='Mankato State University'),
 Row(School='Pace University'),
 Row(School='Worcester Polytechnic Institute'),
 Row(School='Illinois Wesleyan University'),
 Row(School='Western Carolina University'),
 Row(School='Alaska Pacific University'),
 Row(School='Marymount Manhattan College'),
 Row(School='Mount Mercy College'),
 Row(School='University of Northern Iowa'),
 Row(School='East Texas Baptist University'),
 Row(School='Eastern College'),
 Row(School='Goldey Beacom College'),
 Row(School='Hardin-Simmons University'),
 Row(School='King College'),
 Row(School='Walsh University'),
 Row(School='Grace College and Seminary'),
 Row(School='Mount Mary College'),
 Row(School='University of Richmond'),
 Row(School='Westminster College of Salt Lake City'),
 Row(School='Campbellsville College'),
 Row(School='Florida State University'),
 Row(School='North Carolina State University at Raleigh'),
 Row(School='Texas A&M Univ. at College Station'),
 Row(School='Western New England College'),
 Row(School='Elmira College'),
 Row(School='Guilford College'),
 Row(School='New Mexico Institute of Mining and Tech.'),
 Row(School='University of Mobile'),
 Row(School='Westminster College MO'),
 Row(School='Defiance College'),
 Row(School='New Jersey Institute of Technology'),
 Row(School='Northern Illinois University'),
 Row(School='Manhattan College'),
 Row(School='University of Florida'),
 Row(School='Westmont College'),
 Row(School='Alma College'),
 Row(School='Eckerd College'),
 Row(School='Roger Williams University'),
 Row(School='MacMurray College'),
 Row(School='Saint Francis College IN'),
 Row(School='Mississippi State University'),
 Row(School='Rockhurst College'),
 Row(School='Rollins College'),
 Row(School='Washington and Lee University'),
 Row(School='Dartmouth College'),
 Row(School='Gardner Webb University'),
 Row(School='Marymount University'),
 Row(School='Saint Francis College'),
 Row(School='University of Minnesota at Duluth'),
 Row(School='Incarnate Word College'),
 Row(School='Rutgers State University at Newark'),
 Row(School='Southwest Missouri State University'),
 Row(School='University of Central Florida'),
 Row(School='Claflin College'),
 Row(School='Maryville University'),
 Row(School='Michigan Technological University'),
 Row(School='Morehouse College'),
 Row(School='Morris College'),
 Row(School='Mount Saint Mary College'),
 Row(School="St. John's College"),
 Row(School='Bridgewater College'),
 Row(School='Franklin Pierce College'),
 Row(School='Sacred Heart University'),
 Row(School="Saint John's University"),
 Row(School='University of Wyoming'),
 Row(School='Iona College'),
 Row(School='Notre Dame College'),
 Row(School='Stevens Institute of Technology'),
 Row(School='SUNY College at Cortland'),
 Row(School='Susquehanna University'),
 Row(School='Ohio University'),
 Row(School='Rensselaer Polytechnic Institute'),
 Row(School='University of Maine at Machias'),
 Row(School='West Liberty State College'),
 Row(School='Arizona State University Main campus'),
 Row(School='Centenary College of Louisiana'),
 Row(School='Simmons College'),
 Row(School='SUNY College at New Paltz'),
 Row(School='Thiel College'),
 Row(School='University of North Texas'),
 Row(School='American International College'),
 Row(School='North Carolina A. & T. State University'),
 Row(School='Rutgers State University at Camden'),
 Row(School='Southeastern Oklahoma State Univ.'),
 Row(School='Coker College'),
 Row(School='North Park College'),
 Row(School='Polytechnic University'),
 Row(School='Webber College'),
 Row(School='California Polytechnic-San Luis'),
 Row(School='Quinnipiac College'),
 Row(School='Southwestern Adventist College'),
 Row(School='George Mason University'),
 Row(School="Saint Peter's College"),
 Row(School='University of Maine at Farmington'),
 Row(School='Keene State College'),
 Row(School='SUNY College at Fredonia'),
 Row(School='University of Notre Dame'),
 Row(School='Columbia College MO'),
 Row(School='Concordia College at St. Paul'),
 Row(School='Ramapo College of New Jersey'),
 Row(School="Saint Mary's College"),
 Row(School='University of St. Thomas MN'),
 Row(School='Wheaton College IL'),
 Row(School='University of Montevallo'),
 Row(School='University of North Carolina at Chapel Hill'),
 Row(School='Waynesburg College'),
 Row(School='Centre College'),
 Row(School='Mercyhurst College'),
 Row(School='Seattle Pacific University'),
 Row(School='Colby College'),
 Row(School='George Washington University'),
 Row(School='Otterbein College'),
 Row(School='Trinity College CT'),
 Row(School='Davidson College'),
 Row(School='Fontbonne College'),
 Row(School='Augsburg College'),
 Row(School='Barry University'),
 Row(School='Clemson University'),
 Row(School='Ferrum College'),
 Row(School='Jersey City State College'),
 Row(School='Loyola University'),
 Row(School='Salem College'),
 Row(School='Southwestern College'),
 Row(School='University of Missouri at Saint Louis'),
 Row(School='University of Wisconsin-Superior'),
 Row(School='Berry College'),
 Row(School='Rivier College'),
 Row(School='The Citadel'),
 Row(School='University of North Florida'),
 Row(School='Concordia Lutheran College'),
 Row(School='Dickinson College'),
 Row(School='Lynchburg College'),
 Row(School='Northeast Missouri State University'),
 Row(School='Viterbo College'),
 Row(School='Wells College'),
 Row(School='Central College'),
 Row(School="King's College"),
 Row(School='SUNY College at Potsdam'),
 Row(School='SUNY College at Purchase'),
 Row(School='Clark University'),
 Row(School='Stephens College'),
 Row(School='Daniel Webster College'),
 Row(School='Hamilton College'),
 Row(School='Lakeland College'),
 Row(School='Trinity University'),
 Row(School='Wentworth Institute of Technology'),
 Row(School='Fayetteville State University'),
 Row(School='Illinois Benedictine College'),
 Row(School="Saint Joseph's College"),
 Row(School='Belmont Abbey College'),
 Row(School='Columbia College'),
 Row(School='East Carolina University'),
 Row(School='Harding University'),
 Row(School='Juniata College'),
 Row(School='Cornell College'),
 Row(School='University of Missouri at Rolla'),
 Row(School='Kenyon College'),
 Row(School='Virginia Commonwealth University'),
 Row(School='Webster University'),
 Row(School='Hood College'),
 Row(School='Merrimack College'),
 Row(School='Monmouth College IL'),
 Row(School='Santa Clara University'),
 Row(School='Tulane University'),
 Row(School='University of Indianapolis'),
 Row(School='Willamette University'),
 Row(School='Christopher Newport University'),
 Row(School='North Carolina Wesleyan College'),
 Row(School='Jamestown College'),
 Row(School='Saint Anselm College'),
 Row(School='SUNY at Albany'),
 Row(School='Wayne State College'),
 Row(School='Winthrop University'),
 Row(School='Western State College of Colorado'),
 Row(School='Mercer University'),
 Row(School='Newberry College'),
 Row(School='William Woods University'),
 Row(School='Wofford College'),
 Row(School='Bennington College'),
 Row(School='Pennsylvania State Univ. Main Campus'),
 Row(School='University of Tennessee at Knoxville'),
 Row(School="D'Youville College"),
 Row(School='Kansas Wesleyan University'),
 Row(School='SUNY College at Buffalo'),
 Row(School='Southeast Missouri State University'),
 Row(School='St. Thomas Aquinas College'),
 Row(School='Messiah College'),
 Row(School='Montana State University'),
 Row(School='University of Alabama at Birmingham'),
 Row(School='Wilkes University'),
 Row(School='Pitzer College'),
 Row(School='Reed College'),
 Row(School='University of Hawaii at Manoa'),
 Row(School='University of Missouri at Columbia'),
 Row(School='Whittier College'),
 Row(School='Cabrini College'),
 Row(School='Ouachita Baptist University'),
 Row(School='Gannon University'),
 Row(School='Husson College'),
 Row(School='McKendree College'),
 Row(School='Tuskegee University'),
 Row(School='University of Georgia'),
 Row(School='Whitworth College'),
 Row(School='Bucknell University'),
 Row(School='Johns Hopkins University'),
 Row(School='Morningside College'),
 Row(School='Shorter College'),
 Row(School='Chestnut Hill College'),
 Row(School='College of St. Joseph'),
 Row(School='Rocky Mountain College'),
 Row(School='University of Minnesota at Morris'),
 Row(School='Wartburg College'),
 Row(School='College of Mount St. Vincent'),
 Row(School='Elon College'),
 Row(School='Florida Institute of Technology'),
 Row(School='Rowan College of New Jersey'),
 Row(School='University of South Carolina at Columbia'),
 Row(School='Barat College'),
 Row(School='Beaver College'),
 Row(School='Harvey Mudd College'),
 Row(School='Ithaca College'),
 Row(School='Muhlenberg College'),
 Row(School='University of the Pacific'),
 Row(School='Voorhees College'),
 Row(School='York College of Pennsylvania'),
 Row(School='Brown University'),
 Row(School='Georgia Institute of Technology'),
 Row(School='Lehigh University'),
 Row(School='Millsaps College'),
 Row(School='St. Norbert College'),
 Row(School='Calvin College'),
 Row(School='Center for Creative Studies'),
 Row(School='Fort Lewis College'),
 Row(School='Wellesley College'),
 Row(School='Central Connecticut State University'),
 Row(School='Colorado State University'),
 Row(School='Quincy University'),
 Row(School='Skidmore College'),
 Row(School='University of New Hampshire'),
 Row(School='University of Rochester'),
 Row(School='Angelo State University'),
 Row(School='Alverno College'),
 Row(School='University of Arkansas at Fayetteville'),
 Row(School='Valley City State University'),
 Row(School='Vanderbilt University'),
 Row(School='Bloomsburg Univ. of Pennsylvania'),
 Row(School='Bluffton College'),
 Row(School='Elizabethtown College'),
 Row(School='Texas Lutheran College'),
 Row(School='Upper Iowa University'),
 Row(School='College of Santa Fe'),
 Row(School='Culver-Stockton College'),
 Row(School='Lesley College'),
 Row(School='Villanova University'),
 Row(School='Geneva College'),
 Row(School="St. Mary's University of San Antonio"),
 Row(School='Alfred University'),
 Row(School='Eastern Nazarene College'),
 Row(School='University of Virginia'),
 Row(School='Albertson College'),
 Row(School='Lambuth University'),
 Row(School='North Dakota State University'),

In [9]:
df.columns

['School',
 'Private',
 'Apps',
 'Accept',
 'Enroll',
 'Top10perc',
 'Top25perc',
 'F_Undergrad',
 'P_Undergrad',
 'Outstate',
 'Room_Board',
 'Books',
 'Personal',
 'PhD',
 'Terminal',
 'S_F_Ratio',
 'perc_alumni',
 'Expend',
 'Grad_Rate']

In [10]:
assembler = VectorAssembler(inputCols=['Apps',
 'Accept',
 'Enroll',
 'Top10perc',
 'Top25perc',
 'F_Undergrad',
 'P_Undergrad',
 'Outstate',
 'Room_Board',
 'Books',
 'Personal',
 'PhD',
 'Terminal',
 'S_F_Ratio',
 'perc_alumni',
 'Expend',
 'Grad_Rate'],outputCol='features')
assembler

VectorAssembler_39f858fd4d96

In [11]:
output = assembler.transform(df)
output.show()

+--------------------+-------+----+------+------+---------+---------+-----------+-----------+--------+----------+-----+--------+---+--------+---------+-----------+------+---------+--------------------+
|              School|Private|Apps|Accept|Enroll|Top10perc|Top25perc|F_Undergrad|P_Undergrad|Outstate|Room_Board|Books|Personal|PhD|Terminal|S_F_Ratio|perc_alumni|Expend|Grad_Rate|            features|
+--------------------+-------+----+------+------+---------+---------+-----------+-----------+--------+----------+-----+--------+---+--------+---------+-----------+------+---------+--------------------+
|Abilene Christian...|    Yes|1660|  1232|   721|       23|       52|       2885|        537|    7440|      3300|  450|    2200| 70|      78|     18.1|         12|  7041|       60|[1660.0,1232.0,72...|
|  Adelphi University|    Yes|2186|  1924|   512|       16|       29|       2683|       1227|   12280|      6450|  750|    1500| 29|      30|     12.2|         16| 10527|       56|[2186.0,1924.0,51...|
|      Adrian College|    Yes|1428|  1097|   336|       22|       50|       1036|         99|   11250|      3750|  400|    1165| 53|      66|     12.9|         30|  8735|       54|[1428.0,1097.0,33...|
| Agnes Scott College|    Yes| 417|   349|   137|       60|       89|        510|         63|   12960|      5450|  450|     875| 92|      97|      7.7|         37| 19016|       59|[417.0,349.0,137....|
|Alaska Pacific Un...|    Yes| 193|   146|    55|       16|       44|        249|        869|    7560|      4120|  800|    1500| 76|      72|     11.9|          2| 10922|       15|[193.0,146.0,55.0...|
|   Albertson College|    Yes| 587|   479|   158|       38|       62|        678|         41|   13500|      3335|  500|     675| 67|      73|      9.4|         11|  9727|       55|[587.0,479.0,158....|
|Albertus Magnus C...|    Yes| 353|   340|   103|       17|       45|        416|        230|   13290|      5720|  500|    1500| 90|      93|     11.5|         26|  8861|       63|[353.0,340.0,103....|
|      Albion College|    Yes|1899|  1720|   489|       37|       68|       1594|         32|   13868|      4826|  450|     850| 89|     100|     13.7|         37| 11487|       73|[1899.0,1720.0,48...|
|    Albright College|    Yes|1038|   839|   227|       30|       63|        973|        306|   15595|      4400|  300|     500| 79|      84|     11.3|         23| 11644|       80|[1038.0,839.0,227...|
|Alderson-Broaddus...|    Yes| 582|   498|   172|       21|       44|        799|         78|   10468|      3380|  660|    1800| 40|      41|     11.5|         15|  8991|       52|[582.0,498.0,172....|
|   Alfred University|    Yes|1732|  1425|   472|       37|       75|       1830|        110|   16548|      5406|  500|     600| 82|      88|     11.3|         31| 10932|       73|[1732.0,1425.0,47...|
|   Allegheny College|    Yes|2652|  1900|   484|       44|       77|       1707|         44|   17080|      4440|  400|     600| 73|      91|      9.9|         41| 11711|       76|[2652.0,1900.0,48...|
|Allentown Coll. o...|    Yes|1179|   780|   290|       38|       64|       1130|        638|    9690|      4785|  600|    1000| 60|      84|     13.3|         21|  7940|       74|[1179.0,780.0,290...|
|        Alma College|    Yes|1267|  1080|   385|       44|       73|       1306|         28|   12572|      4552|  400|     400| 79|      87|     15.3|         32|  9305|       68|[1267.0,1080.0,38...|
|     Alverno College|    Yes| 494|   313|   157|       23|       46|       1317|       1235|    8352|      3640|  650|    2449| 36|      69|     11.1|         26|  8127|       55|[494.0,313.0,157....|
|American Internat...|    Yes|1420|  1093|   220|        9|       22|       1018|        287|    8700|      4780|  450|    1400| 78|      84|     14.7|         19|  7355|       69|[1420.0,1093.0,22...|
|     Amherst College|    Yes|4302|   992|   418|       83|       96|       1593|          5|   19760|      5300|  660|    1598| 93|      98|      8.4|         63| 21424|      100|[4302.0,992.0,418...|
| Anderson University|    Yes|1216|   908|   423|       19|       40|       1819|        281|   10100|      3520|  550|    1100| 48|      61|     12.1|         14|  7994|       59|[1216.0,908.0,423...|
|  Andrews University|    Yes|1130|   704|   322|       14|       23|       1586|        326|    9996|      3090|  900|    1320| 62|      66|     11.5|         18| 10908|       46|[1130.0,704.0,322...|
|Angelo State Univ...|     No|3540|  2001|  1016|       24|       54|       4190|       1512|    5130|      3592|  500|    2000| 60|      62|     23.1|          5|  4010|       34|[3540.0,2001.0,10...|
+--------------------+-------+----+------+------+---------+---------+-----------+-----------+--------+----------+-----+--------+---+--------+---------+-----------+------+---------+--------------------+
only showing top 20 rows

In [12]:
output.groupBy('Private').count().show()

+-------+-----+
|Private|count|
+-------+-----+
|     No|  212|
|    Yes|  565|
+-------+-----+

In [13]:
indexer = StringIndexer(inputCol='Private',outputCol='PrivateIndex')
indexer

StringIndexer_a9bef6c1720b

In [14]:
output = indexer.fit(output).transform(output)
output.show()

+--------------------+-------+----+------+------+---------+---------+-----------+-----------+--------+----------+-----+--------+---+--------+---------+-----------+------+---------+--------------------+------------+
|              School|Private|Apps|Accept|Enroll|Top10perc|Top25perc|F_Undergrad|P_Undergrad|Outstate|Room_Board|Books|Personal|PhD|Terminal|S_F_Ratio|perc_alumni|Expend|Grad_Rate|            features|PrivateIndex|
+--------------------+-------+----+------+------+---------+---------+-----------+-----------+--------+----------+-----+--------+---+--------+---------+-----------+------+---------+--------------------+------------+
|Abilene Christian...|    Yes|1660|  1232|   721|       23|       52|       2885|        537|    7440|      3300|  450|    2200| 70|      78|     18.1|         12|  7041|       60|[1660.0,1232.0,72...|         0.0|
|  Adelphi University|    Yes|2186|  1924|   512|       16|       29|       2683|       1227|   12280|      6450|  750|    1500| 29|      30|     12.2|         16| 10527|       56|[2186.0,1924.0,51...|         0.0|
|      Adrian College|    Yes|1428|  1097|   336|       22|       50|       1036|         99|   11250|      3750|  400|    1165| 53|      66|     12.9|         30|  8735|       54|[1428.0,1097.0,33...|         0.0|
| Agnes Scott College|    Yes| 417|   349|   137|       60|       89|        510|         63|   12960|      5450|  450|     875| 92|      97|      7.7|         37| 19016|       59|[417.0,349.0,137....|         0.0|
|Alaska Pacific Un...|    Yes| 193|   146|    55|       16|       44|        249|        869|    7560|      4120|  800|    1500| 76|      72|     11.9|          2| 10922|       15|[193.0,146.0,55.0...|         0.0|
|   Albertson College|    Yes| 587|   479|   158|       38|       62|        678|         41|   13500|      3335|  500|     675| 67|      73|      9.4|         11|  9727|       55|[587.0,479.0,158....|         0.0|
|Albertus Magnus C...|    Yes| 353|   340|   103|       17|       45|        416|        230|   13290|      5720|  500|    1500| 90|      93|     11.5|         26|  8861|       63|[353.0,340.0,103....|         0.0|
|      Albion College|    Yes|1899|  1720|   489|       37|       68|       1594|         32|   13868|      4826|  450|     850| 89|     100|     13.7|         37| 11487|       73|[1899.0,1720.0,48...|         0.0|
|    Albright College|    Yes|1038|   839|   227|       30|       63|        973|        306|   15595|      4400|  300|     500| 79|      84|     11.3|         23| 11644|       80|[1038.0,839.0,227...|         0.0|
|Alderson-Broaddus...|    Yes| 582|   498|   172|       21|       44|        799|         78|   10468|      3380|  660|    1800| 40|      41|     11.5|         15|  8991|       52|[582.0,498.0,172....|         0.0|
|   Alfred University|    Yes|1732|  1425|   472|       37|       75|       1830|        110|   16548|      5406|  500|     600| 82|      88|     11.3|         31| 10932|       73|[1732.0,1425.0,47...|         0.0|
|   Allegheny College|    Yes|2652|  1900|   484|       44|       77|       1707|         44|   17080|      4440|  400|     600| 73|      91|      9.9|         41| 11711|       76|[2652.0,1900.0,48...|         0.0|
|Allentown Coll. o...|    Yes|1179|   780|   290|       38|       64|       1130|        638|    9690|      4785|  600|    1000| 60|      84|     13.3|         21|  7940|       74|[1179.0,780.0,290...|         0.0|
|        Alma College|    Yes|1267|  1080|   385|       44|       73|       1306|         28|   12572|      4552|  400|     400| 79|      87|     15.3|         32|  9305|       68|[1267.0,1080.0,38...|         0.0|
|     Alverno College|    Yes| 494|   313|   157|       23|       46|       1317|       1235|    8352|      3640|  650|    2449| 36|      69|     11.1|         26|  8127|       55|[494.0,313.0,157....|         0.0|
|American Internat...|    Yes|1420|  1093|   220|        9|       22|       1018|        287|    8700|      4780|  450|    1400| 78|      84|     14.7|         19|  7355|       69|[1420.0,1093.0,22...|         0.0|
|     Amherst College|    Yes|4302|   992|   418|       83|       96|       1593|          5|   19760|      5300|  660|    1598| 93|      98|      8.4|         63| 21424|      100|[4302.0,992.0,418...|         0.0|
| Anderson University|    Yes|1216|   908|   423|       19|       40|       1819|        281|   10100|      3520|  550|    1100| 48|      61|     12.1|         14|  7994|       59|[1216.0,908.0,423...|         0.0|
|  Andrews University|    Yes|1130|   704|   322|       14|       23|       1586|        326|    9996|      3090|  900|    1320| 62|      66|     11.5|         18| 10908|       46|[1130.0,704.0,322...|         0.0|
|Angelo State Univ...|     No|3540|  2001|  1016|       24|       54|       4190|       1512|    5130|      3592|  500|    2000| 60|      62|     23.1|          5|  4010|       34|[3540.0,2001.0,10...|         1.0|
+--------------------+-------+----+------+------+---------+---------+-----------+-----------+--------+----------+-----+--------+---+--------+---------+-----------+------+---------+--------------------+------------+
only showing top 20 rows

In [15]:
final_df = output.select('features','PrivateIndex')
final_df.show(5)

+--------------------+------------+
|            features|PrivateIndex|
+--------------------+------------+
|[1660.0,1232.0,72...|         0.0|
|[2186.0,1924.0,51...|         0.0|
|[1428.0,1097.0,33...|         0.0|
|[417.0,349.0,137....|         0.0|
|[193.0,146.0,55.0...|         0.0|
+--------------------+------------+
only showing top 5 rows

In [16]:
train_df, test_df = final_df.randomSplit([0.75,0.25])

In [17]:
train_df.count(), test_df.count()

(590, 187)

In [18]:
train_df.show(5)

+--------------------+------------+
|            features|PrivateIndex|
+--------------------+------------+
|[81.0,72.0,51.0,3...|         0.0|
|[100.0,90.0,35.0,...|         0.0|
|[141.0,118.0,55.0...|         0.0|
|[150.0,130.0,88.0...|         0.0|
|[152.0,128.0,75.0...|         0.0|
+--------------------+------------+
only showing top 5 rows

In [19]:
test_df.show(5)

+--------------------+------------+
|            features|PrivateIndex|
+--------------------+------------+
|[174.0,146.0,88.0...|         0.0|
|[193.0,146.0,55.0...|         0.0|
|[202.0,184.0,122....|         0.0|
|[222.0,185.0,91.0...|         0.0|
|[233.0,233.0,153....|         1.0|
+--------------------+------------+
only showing top 5 rows

In [20]:
dtc = DecisionTreeClassifier(featuresCol='features',labelCol='PrivateIndex')
rfc = RandomForestClassifier(featuresCol='features',labelCol='PrivateIndex')
gbc = GBTClassifier(featuresCol='features',labelCol='PrivateIndex')
fmc = FMClassifier(featuresCol='features',labelCol='PrivateIndex')

In [21]:
dtc_model = dtc.fit(train_df)
rfc_model = rfc.fit(train_df)
gbc_model = gbc.fit(train_df)
fm_model = fmc.fit(train_df)

In [22]:
dtc_preds = dtc_model.transform(test_df)
rfc_preds = rfc_model.transform(test_df)
gbc_preds = gbc_model.transform(test_df)
fm_preds = fm_model.transform(test_df)

In [23]:
auc_eval = BinaryClassificationEvaluator(labelCol='PrivateIndex')
print("AUC of DT:",auc_eval.evaluate(dtc_preds))
print("AUC of RF:",auc_eval.evaluate(rfc_preds))
print("AUC of GB:",auc_eval.evaluate(gbc_preds))
print("AUC of FM:",auc_eval.evaluate(fm_preds))

AUC of DT: 0.8507598784194529
AUC of RF: 0.9840425531914893
AUC of GB: 0.9556990881458963
AUC of FM: 0.9609422492401214

In [24]:
pr_eval = BinaryClassificationEvaluator(labelCol='PrivateIndex',metricName='areaUnderPR')
print("Area under PR curve of DT:",pr_eval.evaluate(dtc_preds))
print("Area under PR curve of RF:",pr_eval.evaluate(rfc_preds))
print("Area under PR curve of GB:",pr_eval.evaluate(gbc_preds))
print("Area under PR curve of FM:",pr_eval.evaluate(fm_preds))

Area under PR curve of DT: 0.8043557176742537
Area under PR curve of RF: 0.9550830265426585
Area under PR curve of GB: 0.9198691352401103
Area under PR curve of FM: 0.8544879577315782

In [25]:
acc_eval = MulticlassClassificationEvaluator(labelCol='PrivateIndex',metricName='accuracy')
print("DT Accuracy:",acc_eval.evaluate(dtc_preds))
print("RF Accuracy:",acc_eval.evaluate(rfc_preds))
print("GB Accuracy:",acc_eval.evaluate(gbc_preds))
print("FM Accuracy:",acc_eval.evaluate(fm_preds))

DT Accuracy: 0.9144385026737968
RF Accuracy: 0.9197860962566845
GB Accuracy: 0.9251336898395722
FM Accuracy: 0.93048128342246

In [26]:
f1_eval = MulticlassClassificationEvaluator(labelCol='PrivateIndex',metricName='f1')
print("DT F1 Score:",f1_eval.evaluate(dtc_preds))
print("RF F1 Score:",f1_eval.evaluate(rfc_preds))
print("GB F1 Score:",f1_eval.evaluate(gbc_preds))
print("FM F1 Score:",f1_eval.evaluate(fm_preds))

DT F1 Score: 0.9124191316704686
RF F1 Score: 0.9182365274479236
GB F1 Score: 0.9239972215945704
FM F1 Score: 0.931179859978191

In [27]:
precision_eval = MulticlassClassificationEvaluator(labelCol='PrivateIndex',metricName='weightedPrecision')
print("DT Precision Score:",precision_eval.evaluate(dtc_preds))
print("RF Precision Score:",precision_eval.evaluate(rfc_preds))
print("GB Precision Score:",precision_eval.evaluate(gbc_preds))
print("FM Precision Score:",precision_eval.evaluate(fm_preds))

DT Precision Score: 0.9129430346387561
RF Precision Score: 0.9184470026255015
GB Precision Score: 0.923983335406044
FM Precision Score: 0.9324626253952144

In [28]:
recall_eval = MulticlassClassificationEvaluator(labelCol='PrivateIndex',metricName='weightedRecall')
print("DT Recall Score:",recall_eval.evaluate(dtc_preds))
print("RF Recall Score:",recall_eval.evaluate(rfc_preds))
print("GB Recall Score:",recall_eval.evaluate(gbc_preds))
print("FM Recall Score:",recall_eval.evaluate(fm_preds))

DT Recall Score: 0.9144385026737968
RF Recall Score: 0.9197860962566845
GB Recall Score: 0.9251336898395722
FM Recall Score: 0.93048128342246

In [29]:
logloss_eval = MulticlassClassificationEvaluator(labelCol='PrivateIndex',metricName='logLoss')
print("DT Log Loss Score:",logloss_eval.evaluate(dtc_preds))
print("RF Log Loss Score:",logloss_eval.evaluate(rfc_preds))
print("GB Log Loss Score:",logloss_eval.evaluate(gbc_preds))
print("FM Log Loss Score:",logloss_eval.evaluate(fm_preds))

DT Log Loss Score: 1.598167883571452
RF Log Loss Score: 0.16477105437949827
GB Log Loss Score: 0.231188364605086
FM Log Loss Score: 2.4010914071328275

In [30]:
param_grid = ParamGridBuilder().addGrid(dtc.maxDepth,[5,10,15]).addGrid(dtc.impurity,['entropy','gini']).addGrid(dtc.minInstancesPerNode,[1,5,10]).build()

dt_cross_eval = CrossValidator(estimator=dtc,
                           estimatorParamMaps=param_grid,
                           evaluator=acc_eval,
                           numFolds=3)
dt_cross_eval

CrossValidator_597bee8fb940

In [31]:
dt_cv = dt_cross_eval.fit(train_df)
dt_cv

CrossValidatorModel_a0d64997c016

In [35]:
optimized_dt_model = dt_cv.bestModel
optimized_dt_model

DecisionTreeClassificationModel: uid=DecisionTreeClassifier_07e3660b1e33, depth=4, numNodes=11, numClasses=2, numFeatures=17

In [36]:
optimized_dt_model.getMaxDepth()

5

In [38]:
optimized_dt_model.getImpurity()

'gini'

In [39]:
optimized_dt_model.getMinInstancesPerNode()

10

In [40]:
optimized_dt_preds = optimized_dt_model.transform(test_df)
acc_eval.evaluate(optimized_dt_preds)

0.9144385026737968

In [42]:
param_grid = ParamGridBuilder().addGrid(rfc.numTrees,[20,100,150,200]).addGrid(rfc.impurity,['gini','entropy']).addGrid(rfc.featureSubsetStrategy,['sqrt','log2','onethird','all','auto']).build()

rf_cross_eval = CrossValidator(estimator=rfc,
                              estimatorParamMaps=param_grid,
                              evaluator=acc_eval,
                              numFolds=3)
rf_cross_eval

CrossValidator_4964c04509d5

In [44]:
rf_cv = rf_cross_eval.fit(train_df)
rf_cv

CrossValidatorModel_6bd1d6faf6ed

In [45]:
optimized_rf_model = rf_cv.bestModel
optimized_rf_model

RandomForestClassificationModel: uid=RandomForestClassifier_76209eb8ad04, numTrees=150, numClasses=2, numFeatures=17

In [47]:
optimized_rf_model.getNumTrees

150

In [48]:
optimized_rf_model.getImpurity()

'gini'

In [49]:
optimized_rf_model.getFeatureSubsetStrategy()

'onethird'

In [50]:
optimized_rf_preds = optimized_rf_model.transform(test_df)
acc_eval.evaluate(optimized_rf_preds)

0.9411764705882353

In [57]:
optimized_rf_model.save('private_college_classifier.pkl')

In [59]:
loaded_model = RandomForestClassificationModel.load('private_college_classifier.pkl')
loaded_model

RandomForestClassificationModel: uid=RandomForestClassifier_76209eb8ad04, numTrees=150, numClasses=2, numFeatures=17