In [9]:
from pyspark.sql import SparkSession
from pyspark.sql.types import StructType, StringType, IntegerType, StructField

In [2]:
spark = SparkSession.builder.appName('Basics').getOrCreate()
spark

In [4]:
df = spark.read.json("people.json")
df.show()

+----+-------+
| age|   name|
+----+-------+
|NULL|Michael|
|  30|   Andy|
|  19| Justin|
+----+-------+

In [5]:
df.printSchema()

root
 |-- age: long (nullable = true)
 |-- name: string (nullable = true)

In [6]:
df.columns

['age', 'name']

In [8]:
df.describe().show()

+-------+------------------+-------+
|summary|               age|   name|
+-------+------------------+-------+
|  count|                 2|      3|
|   mean|              24.5|   NULL|
| stddev|7.7781745930520225|   NULL|
|    min|                19|   Andy|
|    max|                30|Michael|
+-------+------------------+-------+

In [10]:
data_schema = [StructField('age',IntegerType(),True),StructField('name',StringType(),True)]

In [11]:
final_structure = StructType(fields=data_schema)
final_structure

StructType([StructField('age', IntegerType(), True), StructField('name', StringType(), True)])

In [12]:
df = spark.read.json('people.json',schema=final_structure)
df.show()

+----+-------+
| age|   name|
+----+-------+
|NULL|Michael|
|  30|   Andy|
|  19| Justin|
+----+-------+

In [13]:
df.printSchema()

root
 |-- age: integer (nullable = true)
 |-- name: string (nullable = true)

In [14]:
df['age']

Column<'age'>

In [15]:
type(df['age'])

pyspark.sql.column.Column

In [16]:
type(df.select('age'))

pyspark.sql.dataframe.DataFrame

In [18]:
df.select('age').show()

+----+
| age|
+----+
|NULL|
|  30|
|  19|
+----+

In [21]:
type(df.head(2)[0])

pyspark.sql.types.Row

In [23]:
df.select(['age','name']).show()

+----+-------+
| age|   name|
+----+-------+
|NULL|Michael|
|  30|   Andy|
|  19| Justin|
+----+-------+

In [24]:
df.withColumn('double_age',df['age']*2).show()

+----+-------+----------+
| age|   name|double_age|
+----+-------+----------+
|NULL|Michael|      NULL|
|  30|   Andy|        60|
|  19| Justin|        38|
+----+-------+----------+

In [25]:
df.show()

+----+-------+
| age|   name|
+----+-------+
|NULL|Michael|
|  30|   Andy|
|  19| Justin|
+----+-------+

In [26]:
df.withColumnRenamed('age','my_new_age').show()

+----------+-------+
|my_new_age|   name|
+----------+-------+
|      NULL|Michael|
|        30|   Andy|
|        19| Justin|
+----------+-------+

In [27]:
df.withColumn('new_stuff',df['age']%2).show()

+----+-------+---------+
| age|   name|new_stuff|
+----+-------+---------+
|NULL|Michael|     NULL|
|  30|   Andy|        0|
|  19| Justin|        1|
+----+-------+---------+

## Spark SQL

In [29]:
# Register the Spark DataFrame as a SQL temporary view
df.createOrReplaceTempView('people')

In [30]:
results = spark.sql("SELECT * FROM people")
results.show()

+----+-------+
| age|   name|
+----+-------+
|NULL|Michael|
|  30|   Andy|
|  19| Justin|
+----+-------+

In [32]:
new_results = spark.sql("SELECT * FROM people WHERE age <= 30")
new_results.show()

+---+------+
|age|  name|
+---+------+
| 30|  Andy|
| 19|Justin|
+---+------+