In [29]:
from pyspark.sql import SparkSession
from pyspark.ml.classification import LogisticRegression
from pyspark.ml.feature import StringIndexer, OneHotEncoder, VectorAssembler, VectorIndexer
from pyspark.ml import Pipeline
from pyspark.ml.evaluation import BinaryClassificationEvaluator

In [6]:
spark = SparkSession.builder.appName('titanic').getOrCreate()
spark

In [7]:
df = spark.read.csv('titanic.csv',inferSchema=True,header=True)
df.printSchema()

root
 |-- PassengerId: integer (nullable = true)
 |-- Survived: integer (nullable = true)
 |-- Pclass: integer (nullable = true)
 |-- Name: string (nullable = true)
 |-- Sex: string (nullable = true)
 |-- Age: double (nullable = true)
 |-- SibSp: integer (nullable = true)
 |-- Parch: integer (nullable = true)
 |-- Ticket: string (nullable = true)
 |-- Fare: double (nullable = true)
 |-- Cabin: string (nullable = true)
 |-- Embarked: string (nullable = true)

In [4]:
df.count()

891

In [8]:
df.show()

+-----------+--------+------+--------------------+------+----+-----+-----+----------------+-------+-----+--------+
|PassengerId|Survived|Pclass|                Name|   Sex| Age|SibSp|Parch|          Ticket|   Fare|Cabin|Embarked|
+-----------+--------+------+--------------------+------+----+-----+-----+----------------+-------+-----+--------+
|          1|       0|     3|Braund, Mr. Owen ...|  male|22.0|    1|    0|       A/5 21171|   7.25| NULL|       S|
|          2|       1|     1|Cumings, Mrs. Joh...|female|38.0|    1|    0|        PC 17599|71.2833|  C85|       C|
|          3|       1|     3|Heikkinen, Miss. ...|female|26.0|    0|    0|STON/O2. 3101282|  7.925| NULL|       S|
|          4|       1|     1|Futrelle, Mrs. Ja...|female|35.0|    1|    0|          113803|   53.1| C123|       S|
|          5|       0|     3|Allen, Mr. Willia...|  male|35.0|    0|    0|          373450|   8.05| NULL|       S|
|          6|       0|     3|    Moran, Mr. James|  male|NULL|    0|    0|          330877| 8.4583| NULL|       Q|
|          7|       0|     1|McCarthy, Mr. Tim...|  male|54.0|    0|    0|           17463|51.8625|  E46|       S|
|          8|       0|     3|Palsson, Master. ...|  male| 2.0|    3|    1|          349909| 21.075| NULL|       S|
|          9|       1|     3|Johnson, Mrs. Osc...|female|27.0|    0|    2|          347742|11.1333| NULL|       S|
|         10|       1|     2|Nasser, Mrs. Nich...|female|14.0|    1|    0|          237736|30.0708| NULL|       C|
|         11|       1|     3|Sandstrom, Miss. ...|female| 4.0|    1|    1|         PP 9549|   16.7|   G6|       S|
|         12|       1|     1|Bonnell, Miss. El...|female|58.0|    0|    0|          113783|  26.55| C103|       S|
|         13|       0|     3|Saundercock, Mr. ...|  male|20.0|    0|    0|       A/5. 2151|   8.05| NULL|       S|
|         14|       0|     3|Andersson, Mr. An...|  male|39.0|    1|    5|          347082| 31.275| NULL|       S|
|         15|       0|     3|Vestrom, Miss. Hu...|female|14.0|    0|    0|          350406| 7.8542| NULL|       S|
|         16|       1|     2|Hewlett, Mrs. (Ma...|female|55.0|    0|    0|          248706|   16.0| NULL|       S|
|         17|       0|     3|Rice, Master. Eugene|  male| 2.0|    4|    1|          382652| 29.125| NULL|       Q|
|         18|       1|     2|Williams, Mr. Cha...|  male|NULL|    0|    0|          244373|   13.0| NULL|       S|
|         19|       0|     3|Vander Planke, Mr...|female|31.0|    1|    0|          345763|   18.0| NULL|       S|
|         20|       1|     3|Masselmani, Mrs. ...|female|NULL|    0|    0|            2649|  7.225| NULL|       C|
+-----------+--------+------+--------------------+------+----+-----+-----+----------------+-------+-----+--------+
only showing top 20 rows

In [9]:
df.groupBy('Name').count().show()

+--------------------+-----+
|                Name|count|
+--------------------+-----+
|"Watt, Mrs. James...|    1|
|Young, Miss. Mari...|    1|
|Parr, Mr. William...|    1|
|Soholt, Mr. Peter...|    1|
|Goldsmith, Mrs. F...|    1|
|    Dimic, Mr. Jovan|    1|
|Harper, Mr. Henry...|    1|
|Reuchlin, Jonkhee...|    1|
|Fahlstrom, Mr. Ar...|    1|
|Hosono, Mr. Masabumi|    1|
| Partner, Mr. Austen|    1|
|Van Impe, Miss. C...|    1|
|Bjornstrom-Steffa...|    1|
|    Saad, Mr. Khalil|    1|
| Sirota, Mr. Maurice|    1|
|Slemen, Mr. Richa...|    1|
|McCormack, Mr. Th...|    1|
|Potter, Mrs. Thom...|    1|
|Palsson, Miss. St...|    1|
|"Nakid, Miss. Mar...|    1|
+--------------------+-----+
only showing top 20 rows

In [11]:
df.groupBy('cabin').count()

DataFrame[cabin: string, count: bigint]

In [12]:
df.groupBy('Embarked').count().show()

+--------+-----+
|Embarked|count|
+--------+-----+
|       Q|   77|
|    NULL|    2|
|       C|  168|
|       S|  644|
+--------+-----+

In [13]:
df.columns

['PassengerId',
 'Survived',
 'Pclass',
 'Name',
 'Sex',
 'Age',
 'SibSp',
 'Parch',
 'Ticket',
 'Fare',
 'Cabin',
 'Embarked']

In [14]:
cols = ['Pclass','Sex','Age','SibSp','Parch','Fare','Embarked','Survived']
filtered_df = df.select(cols)
filtered_df.show()

+------+------+----+-----+-----+-------+--------+--------+
|Pclass|   Sex| Age|SibSp|Parch|   Fare|Embarked|Survived|
+------+------+----+-----+-----+-------+--------+--------+
|     3|  male|22.0|    1|    0|   7.25|       S|       0|
|     1|female|38.0|    1|    0|71.2833|       C|       1|
|     3|female|26.0|    0|    0|  7.925|       S|       1|
|     1|female|35.0|    1|    0|   53.1|       S|       1|
|     3|  male|35.0|    0|    0|   8.05|       S|       0|
|     3|  male|NULL|    0|    0| 8.4583|       Q|       0|
|     1|  male|54.0|    0|    0|51.8625|       S|       0|
|     3|  male| 2.0|    3|    1| 21.075|       S|       0|
|     3|female|27.0|    0|    2|11.1333|       S|       1|
|     2|female|14.0|    1|    0|30.0708|       C|       1|
|     3|female| 4.0|    1|    1|   16.7|       S|       1|
|     1|female|58.0|    0|    0|  26.55|       S|       1|
|     3|  male|20.0|    0|    0|   8.05|       S|       0|
|     3|  male|39.0|    1|    5| 31.275|       S|       0|
|     3|female|14.0|    0|    0| 7.8542|       S|       0|
|     2|female|55.0|    0|    0|   16.0|       S|       1|
|     3|  male| 2.0|    4|    1| 29.125|       Q|       0|
|     2|  male|NULL|    0|    0|   13.0|       S|       1|
|     3|female|31.0|    1|    0|   18.0|       S|       0|
|     3|female|NULL|    0|    0|  7.225|       C|       1|
+------+------+----+-----+-----+-------+--------+--------+
only showing top 20 rows

In [15]:
final_df = filtered_df.na.drop()
final_df.show()

+------+------+----+-----+-----+-------+--------+--------+
|Pclass|   Sex| Age|SibSp|Parch|   Fare|Embarked|Survived|
+------+------+----+-----+-----+-------+--------+--------+
|     3|  male|22.0|    1|    0|   7.25|       S|       0|
|     1|female|38.0|    1|    0|71.2833|       C|       1|
|     3|female|26.0|    0|    0|  7.925|       S|       1|
|     1|female|35.0|    1|    0|   53.1|       S|       1|
|     3|  male|35.0|    0|    0|   8.05|       S|       0|
|     1|  male|54.0|    0|    0|51.8625|       S|       0|
|     3|  male| 2.0|    3|    1| 21.075|       S|       0|
|     3|female|27.0|    0|    2|11.1333|       S|       1|
|     2|female|14.0|    1|    0|30.0708|       C|       1|
|     3|female| 4.0|    1|    1|   16.7|       S|       1|
|     1|female|58.0|    0|    0|  26.55|       S|       1|
|     3|  male|20.0|    0|    0|   8.05|       S|       0|
|     3|  male|39.0|    1|    5| 31.275|       S|       0|
|     3|female|14.0|    0|    0| 7.8542|       S|       0|
|     2|female|55.0|    0|    0|   16.0|       S|       1|
|     3|  male| 2.0|    4|    1| 29.125|       Q|       0|
|     3|female|31.0|    1|    0|   18.0|       S|       0|
|     2|  male|35.0|    0|    0|   26.0|       S|       0|
|     2|  male|34.0|    0|    0|   13.0|       S|       1|
|     3|female|15.0|    0|    0| 8.0292|       Q|       1|
+------+------+----+-----+-----+-------+--------+--------+
only showing top 20 rows

In [17]:
gender_indexer = StringIndexer(inputCol='Sex',outputCol='SexIndex')
gender_encoder = OneHotEncoder(inputCol='SexIndex',outputCol='SexVec')

In [18]:
embarked_indexer = StringIndexer(inputCol='Embarked',outputCol='EmbarkedIndex')
embarked_encoder = OneHotEncoder(inputCol='EmbarkedIndex',outputCol='EmbarkedVec')

In [21]:
assembler = VectorAssembler(inputCols=['Pclass','SexVec','Age','SibSp','EmbarkedVec','Parch','Fare'],outputCol='features')
assembler

VectorAssembler_ed12579348cf

In [22]:
log_reg_model = LogisticRegression(featuresCol='features',labelCol='Survived')
log_reg_model

LogisticRegression_539cb118365d

In [23]:
pipeline = Pipeline(stages=[gender_indexer,embarked_indexer,gender_encoder,embarked_encoder,assembler,log_reg_model])
pipeline

Pipeline_be41a8241781

In [24]:
train_df, test_df = final_df.randomSplit([0.7,0.3])

In [25]:
lr_model = pipeline.fit(train_df)

In [26]:
test_results = lr_model.transform(test_df)
test_results

DataFrame[Pclass: int, Sex: string, Age: double, SibSp: int, Parch: int, Fare: double, Embarked: string, Survived: int, SexIndex: double, EmbarkedIndex: double, SexVec: vector, EmbarkedVec: vector, features: vector, rawPrediction: vector, probability: vector, prediction: double]

In [27]:
test_results.show()

+------+------+----+-----+-----+--------+--------+--------+--------+-------------+---------+-------------+--------------------+--------------------+--------------------+----------+
|Pclass|   Sex| Age|SibSp|Parch|    Fare|Embarked|Survived|SexIndex|EmbarkedIndex|   SexVec|  EmbarkedVec|            features|       rawPrediction|         probability|prediction|
+------+------+----+-----+-----+--------+--------+--------+--------+-------------+---------+-------------+--------------------+--------------------+--------------------+----------+
|     1|female|16.0|    0|    0|    86.5|       S|       1|     1.0|          0.0|(1,[],[])|(2,[0],[1.0])|(8,[0,2,4,7],[1.0...|[-3.4828536392017...|[0.02980405381359...|       1.0|
|     1|female|16.0|    0|    1| 57.9792|       C|       1|     1.0|          1.0|(1,[],[])|(2,[1],[1.0])|[1.0,0.0,16.0,0.0...|[-3.6151922017768...|[0.02620648967643...|       1.0|
|     1|female|18.0|    2|    2| 262.375|       C|       1|     1.0|          1.0|(1,[],[])|(2,[1],[1.0])|[1.0,0.0,18.0,2.0...|[-2.8014313211403...|[0.05724687899222...|       1.0|
|     1|female|22.0|    0|    1|    55.0|       S|       1|     1.0|          0.0|(1,[],[])|(2,[0],[1.0])|[1.0,0.0,22.0,0.0...|[-3.1301044970503...|[0.04188241357046...|       1.0|
|     1|female|24.0|    0|    0| 83.1583|       C|       1|     1.0|          1.0|(1,[],[])|(2,[1],[1.0])|(8,[0,2,5,7],[1.0...|[-3.4036496513654...|[0.03218159857831...|       1.0|
|     1|female|24.0|    3|    2|   263.0|       S|       1|     1.0|          0.0|(1,[],[])|(2,[0],[1.0])|[1.0,0.0,24.0,3.0...|[-1.8429201909516...|[0.13670629264699...|       1.0|
|     1|female|26.0|    0|    0|   78.85|       S|       1|     1.0|          0.0|(1,[],[])|(2,[0],[1.0])|(8,[0,2,4,7],[1.0...|[-3.0753026644114...|[0.04413756955301...|       1.0|
|     1|female|30.0|    0|    0| 56.9292|       C|       1|     1.0|          1.0|(1,[],[])|(2,[1],[1.0])|(8,[0,2,5,7],[1.0...|[-3.1281590852915...|[0.04196054920437...|       1.0|
|     1|female|30.0|    0|    0|    86.5|       S|       1|     1.0|          0.0|(1,[],[])|(2,[0],[1.0])|(8,[0,2,4,7],[1.0...|[-2.9276055272484...|[0.05080567295687...|       1.0|
|     1|female|30.0|    0|    0| 106.425|       C|       1|     1.0|          1.0|(1,[],[])|(2,[1],[1.0])|(8,[0,2,5,7],[1.0...|[-3.1989748325946...|[0.03920431989083...|       1.0|
|     1|female|35.0|    1|    0|    53.1|       S|       1|     1.0|          0.0|(1,[],[])|(2,[0],[1.0])|[1.0,0.0,35.0,1.0...|[-2.2029357210442...|[0.09948716999853...|       1.0|
|     1|female|35.0|    1|    0|    90.0|       S|       1|     1.0|          0.0|(1,[],[])|(2,[0],[1.0])|[1.0,0.0,35.0,1.0...|[-2.2557301212859...|[0.09485634116919...|       1.0|
|     1|female|36.0|    1|    2|   120.0|       S|       1|     1.0|          0.0|(1,[],[])|(2,[0],[1.0])|[1.0,0.0,36.0,1.0...|[-2.1195572681805...|[0.10721043979662...|       1.0|
|     1|female|39.0|    1|    1| 83.1583|       C|       1|     1.0|          1.0|(1,[],[])|(2,[1],[1.0])|[1.0,0.0,39.0,1.0...|[-2.2604435770619...|[0.09445242246282...|       1.0|
|     1|female|39.0|    1|    1|110.8833|       C|       1|     1.0|          1.0|(1,[],[])|(2,[1],[1.0])|[1.0,0.0,39.0,1.0...|[-2.3001109143709...|[0.09111377555125...|       1.0|
|     1|female|40.0|    0|    0|153.4625|       S|       1|     1.0|          0.0|(1,[],[])|(2,[0],[1.0])|(8,[0,2,4,7],[1.0...|[-2.6268058312666...|[0.06743304120256...|       1.0|
|     1|female|44.0|    0|    0| 27.7208|       C|       1|     1.0|          1.0|(1,[],[])|(2,[1],[1.0])|(8,[0,2,5,7],[1.0...|[-2.5311212725245...|[0.07370505778608...|       1.0|
|     1|female|53.0|    2|    0| 51.4792|       S|       1|     1.0|          0.0|(1,[],[])|(2,[0],[1.0])|[1.0,0.0,53.0,2.0...|[-1.0081462360831...|[0.26734279201806...|       1.0|
|     1|female|54.0|    1|    0|    59.4|       C|       1|     1.0|          1.0|(1,[],[])|(2,[1],[1.0])|[1.0,0.0,54.0,1.0...|[-1.7012601500129...|[0.15430075390395...|       1.0|
|     1|female|54.0|    1|    0| 78.2667|       C|       1|     1.0|          1.0|(1,[],[])|(2,[1],[1.0])|[1.0,0.0,54.0,1.0...|[-1.7282535405560...|[0.15081110739841...|       1.0|
+------+------+----+-----+-----+--------+--------+--------+--------+-------------+---------+-------------+--------------------+--------------------+--------------------+----------+
only showing top 20 rows

In [28]:
test_results.select('prediction','Survived').show()

+----------+--------+
|prediction|Survived|
+----------+--------+
|       1.0|       1|
|       1.0|       1|
|       1.0|       1|
|       1.0|       1|
|       1.0|       1|
|       1.0|       1|
|       1.0|       1|
|       1.0|       1|
|       1.0|       1|
|       1.0|       1|
|       1.0|       1|
|       1.0|       1|
|       1.0|       1|
|       1.0|       1|
|       1.0|       1|
|       1.0|       1|
|       1.0|       1|
|       1.0|       1|
|       1.0|       1|
|       1.0|       1|
+----------+--------+
only showing top 20 rows

In [30]:
evaluator = BinaryClassificationEvaluator(rawPredictionCol='prediction',labelCol='Survived')
evaluator

BinaryClassificationEvaluator_b82be9095c90

In [31]:
area_under_roc = evaluator.evaluate(test_results)
area_under_roc

0.7849300427516518

In [32]:
evaluator = BinaryClassificationEvaluator(rawPredictionCol='prediction',labelCol='Survived',metricName='areaUnderPR')
area_under_pr = evaluator.evaluate(test_results)
area_under_pr

0.7448053081892788